.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.header-checkout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 30px;
  font-size: 20px;
  color: #33b1ff;
  border-radius: 10px;
  border: 2px solid #33b1ff;
  margin: 0 0 0 0.5em;
  padding: 5px;
}

.header-checkout:hover {
  color: #ffffff;
  background-color: #33b1ff;
}

.header-alert {
  color: #33b13a;
  font-size: 14px;
  margin-left: 5px;
}

.header a {
  text-decoration: none;
  color: #33b1ff;
}