.Products-items {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}

.Products-item {
  text-decoration: none;
  box-shadow: 4px 10px 28px rgba(44, 53, 62, 0.158), 1px 3px 8px rgba(39, 44, 49, 0.357);
  border-radius: 5px;
  margin: 0 0 20px 0;
  position: relative;
  box-sizing: border-box;

}

.products-item-info {
  margin: 10px;
}

.Products-item-info h2 {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.Products-item-info h2 span {
  color: #33b13a;
}

.Products-item-info p {
  font-size: 14px;
  font-weight: 300;
}

.Products-item img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}

.Products-item button {
  background: linear-gradient(to bottom, #16a6d2 5%, #468ccf 100%);
  width: 100%;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  border: 0px;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;

}

.Products-item button:hover {
  background-color: rgba(39, 44, 49, 0.06);
}

.ocupar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.icon {
  margin-left: 2px;
}